<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">Teach Place 3</a>

  <div class="nav navbar-nav float-lg-right">
    <a routerLink="/signin" routerLinkActive="active" class="nav-item nav-link">
      Sign In
    </a>
    <a routerLink="/join" routerLinkActive="active" class="nav-item nav-link">
      Join
    </a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row"></div>
  <div class="row">
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-sm-8 col-md-6 col-lg-4">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
  </div>
</div>

