.card {
  li:last-child {
    border-top: none;
  }
}

.social-networks {

  > div {
    text-align: center
  }

  button {
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    background: none;
    border: none;

    .social-icon {
      width: 50px;
      height: 50px;

      &.facebook     { fill: $facebook-color }
      &.twitter      { fill: $twitter-color }
      &.vkontakte    { fill: $vkontakte-color }
      &.google-plus  { fill: $google-plus-color }
    }

    &:hover, &:active {
      .social-icon {
        transform: scale(1.2)
      }
    }

    &:active {
      .social-icon {
        &.facebook     { fill: lighten($facebook-color, 10%) }
        &.twitter      { fill: lighten($twitter-color, 10%) }
        &.vkontakte    { fill: lighten($vkontakte-color, 10%) }
        &.google-plus  { fill: lighten($google-plus-color, 10%) }
      }
    }
  }
}