<div class="card card-inverse card-primary">
  <div class="card-header">
    Join
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h6 class="card-title text-muted">with a social network</h6>
      <div class="card-text">
        <div class="row social-networks">
          <div class="col-xs-3">
            <button (click)="joinWithFacebook()">
              <svg class="social-icon facebook"><use xlink:href="#facebook" /></svg>
            </button>
          </div>
          <div class="col-xs-3">
            <button (click)="joinWithGooglePlus()">
              <svg class="social-icon google-plus"><use xlink:href="#google-plus" /></svg>
            </button>
          </div>
          <div class="col-xs-3">
            <button (click)="joinWithVkontakte()">
              <svg class="social-icon vkontakte"><use xlink:href="#vkontakte" /></svg>
            </button>
          </div>
          <div class="col-xs-3">
            <button (click)="joinWithTwitter()">
              <svg class="social-icon twitter"><use xlink:href="#twitter" /></svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <h6 class="card-title text-muted">or by providing your personal information</h6>
      <div>
        <form novalidate [formGroup]="newUserForm">
          <teachme-input [control]="newUserForm.get('displayName')" type="text" placeholder="Display Name" [errors]="{
            required: 'Please, specify your name'
          }"></teachme-input>
          <teachme-input [control]="newUserForm.get('email')" type="email" placeholder="Email" [errors]="{
            required: 'Please, specify your email',
            email:    'Email should be valid'
          }"></teachme-input>
          <teachme-input [control]="newUserForm.get('password')" type="password" placeholder="Password" [errors]="{
            required:  'Please, specify a password',
            minlength: 'Password has to more then 5 characters long'
          }"></teachme-input>
          <div>
            <button
              class="btn btn-primary btn-block"
              (click)="joinByProvidingPersonalInformation()"
            >
              Join
            </button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>