<!--<div class="card card-inverse card-primary">
  <div class="card-header">
    Sign In
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h6 class="card-title text-muted">with a social network</h6>
      <div class="card-text">
        <div class="row social-networks">
          <div class="col-xs-3">
            <button>
              <svg class="social-icon facebook"><use xlink:href="#facebook" /></svg>
            </button>
          </div>
          <div class="col-xs-3">
            <button>
              <svg class="social-icon google-plus"><use xlink:href="#google-plus" /></svg>
            </button>
          </div>
          <div class="col-xs-3">
            <button>
              <svg class="social-icon vkontakte"><use xlink:href="#vkontakte" /></svg>
            </button>
          </div>
          <div class="col-xs-3">
            <button>
              <svg class="social-icon twitter"><use xlink:href="#twitter" /></svg>
            </button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <h6 class="card-title text-muted">or by providing your credentials</h6>
      <div class="card-text">
        <form>
          <div class="form-group">
            <input type="email" class="form-control"  placeholder="Email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>-->