<div class="form-group" [ngClass]="{
  'has-success':  control.valid,
  'has-warning':  isFocused && control.dirty && control.invalid,
  'has-danger':  !isFocused && control.dirty && control.invalid
}">
  <input
    (focus)="isFocused = true"
    (blur)="isFocused = false"
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    class="form-control form-control-success form-control-danger"
    autocapitalize="off"
    autocorrect="off"
    autocomplete="off"
    spellcheck="false"
  >
  <small *ngIf="control.dirty && error" class="form-control-feedback">
    {{ error }}
  </small>
</div>